*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cuerpo */
body{
    background-image: url("../IMG/fondo.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arvo', serif;
    color: black;
    padding: 2rem;
}
